{% extends 'partials/bill_base.html' %}
{% load static %}




{% block content %}
    <form method="post">
    {% csrf_token %}

        <div class="bg">
        
            <br>

            <div id="printArea" class="bg">

                <table class="outer-box inner-box" style="width: 840px; margin-left: auto; margin-right: auto;">
                    <tbody>
                        
                        <tr>
                            <td> <p style="text-align: center;">Water Bill</p> </td>
                        </tr>
                        <tr>
                            <td class="title">
                                <img src="{% static 'assets/img/logo.jpeg' %}" style="width: 100%; max-width: 100px" />
                            </td>
                        </tr>
                        <tr style="text-align: center;">
                           
                            <td >
                                <span style="font-size: 350%;"></span> <br>
                                <span style="font-size: 120%; font-weight: bold;">Water Bill Invoice </span> <br>
                                <span style="font-weight: bold;">ADDRESS : Nairobi </span> <br>
                                <span style="font-weight: bold;">EMAIL :  bill@watercompany.com</span> <br><br>
                            </td><!-- Log on to codeastro.com for more projects -->
                        </tr>
                        
                        <tr>
                            <td>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>

                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;">&nbsp;Client Name</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;Meter Number</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{invoice.client.meterNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{invoice.client.clientName}}</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;Address</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{invoice.client.addressLine1}}</td>
                                    </tr>
                    
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        
                        <tr>
                            <td><!-- Log on to codeastro.com for more projects --><h3>Daily Costs</h3>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="width: 40%; font-weight: bold; text-align: center;">Date</td>
                                        <td class="inner-box" style="width: 30%; font-weight: bold; text-align: center;">Quantity</td>
                                        <td class="inner-box" style="width: 20%; font-weight: bold; text-align: center;">Price</td>
                                    </tr>
                                    {% for product in products %}
                                    <tr class="item">
                                        <td class="inner-box" style="width: 40%; font-weight: italic; text-align: center;">{{product.title}}</td>
                                        <td class="inner-box" style="width: 30%; font-weight: italic; text-align: center;">{{product.quantity}}</td>
                                        <td class="inner-box" style="width: 20%; font-weight: italic; text-align: center;">{{product.currency}} {{product.price}}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr class="total">
                                        <td></td>
                                        <td class="inner-box" style="width: 40%; font-weight: bold; text-align: center;">Total: </td>
                                        <td class="inner-box" style="width: 40%; font-weight: italic; text-align: center;">{{invoiceCurrency}} {{invoiceTotal}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            </td>
                        </tr>


                        <tr>
                            <td style="text-align: center;">
                                <span style="font-weight: bold;">Water Bill <br><br><br><br> Signature</span>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: center;">
                                <!-- FINAL TEXT -->
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

            <!-- <br><br> --><!-- Log on to codeastro.com for more projects -->

        </div>

        <br><br>

        <div class="wrapper">
            <button class="center btn btn-primary" onclick="printpage('printArea')">Print</button>
          
        </div><!-- Log on to codeastro.com for more projects -->

    </form>

    <script>
        function printpage(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }       
        </script>

{% endblock %}